<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenido{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {% block body %}
            {% for i in 1..20 %}
                <div> {{ 'Este es el titulo ' | upper }} {{ i }}</div>
            {% endfor %}
            {% if(nombre == 'Leandro') %}
                <div> Mi nombre es Leandro </div>
            {% endif %}
        {% endblock %}
    </body>
</html>
